@import "./Colors.scss";
.home {
  .home-content {
    .home-content-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        max-width: 44rem;
        padding: 1.5rem;
        color: $main-color;
        font-size: 1.25rem;
        line-height: 1.6;
        text-align: center;
      }
    }
  }
}