@import "./Colors.scss";
.home {
  .home-content {
    .home-content-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      .desktop-only {
        display: block;
      }

      .mobile-only {
        display: none;
        text-align: center;
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
        margin-top: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .home-content {
      .home-content-text {
        .desktop-only {
          display: none;
        }

        .mobile-only {
          display: block;
        }
      }
    }
  }
}